@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-teal-400 to-blue-500 transition-all;

    &:hover {
      @apply text-blue-500;
    }
  }

  html,
  body {
    background-image: linear-gradient(to top, #43e97b 0%, #38f9d7 100%);
    background-attachment: fixed;

    padding: 0;
    margin: 0;

    @apply font-sans;
  }

  body {
    @apply max-w-6xl mx-auto;
  }
}

@import "core.scss";
@import "tooltip.scss";

// basic components
input[type="text"],
input[type="number"],
textarea {
  @apply p-1 border border-sky-400 rounded-sm w-full;
}

button {
  @apply p-2 bg-yellow-500 text-white cursor-pointer;

  &:hover {
    @apply transition duration-200 bg-yellow-400;
  }

  .btn-green {
    @apply bg-green-500;

    &:hover {
      @apply bg-green-400;
    }
  }
}

// Animations
