@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-teal-400 to-blue-500 transition-all;

    &:hover {
      @apply text-blue-500;
    }
  }

  html,
  body {
    background-image: linear-gradient(to top, #43e97b 0%, #38f9d7 100%);
    background-attachment: fixed;

    padding: 0;
    margin: 0;

    @apply font-sans;
  }

  body {
    @apply max-w-6xl mx-auto;
  }
}

[data-tooltip]:before {
  position: absolute;
  content: attr(data-tooltip);
  @apply bg-white rounded p-2 text-black px-4 font-mono shadow-md border border-solid border-black;

  top: 3.2rem;
  left: 0;
}

[data-tooltip] {
  position: relative;
  white-space: nowrap;
}

[data-tooltip]:before,
[data-tooltip]:after {
  transition: all 0.5s ease;
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:after {
  content: "";
  clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
  background-color: rgb(112, 112, 112);
  width: 0.8rem;
  height: 0.8rem;
  position: absolute;
  top: 2.4rem;
  left: 1rem;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  opacity: 0.7;
}

// basic components
input[type="text"],
input[type="number"],
textarea {
  @apply p-1 border border-sky-400 rounded-sm;
}

button {
  @apply p-2 bg-lime-500 text-white cursor-pointer;

  &:hover {
    @apply transition duration-200 bg-lime-300;
  }
}

// Animations
