@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-teal-400 to-blue-500 transition-all;

    &:hover {
      @apply text-blue-500;
    }
  }

  html,
  body {
    background-image: linear-gradient(to top, #43e97b 0%, #38f9d7 100%);
    background-attachment: fixed;

    padding: 0;

    @apply font-sans;
  }
}

@import "core.scss";
@import "tooltip.scss";
@import "button.scss"; // basic components

input[type="text"],
input[type="number"] {
  @apply p-1 ring-1 ring-gray-300 rounded-sm w-full;
}
textarea {
  @apply p-1 ring-1 ring-green-300 rounded-sm w-full;
}

// Animations
